.btn {
    background: #3555d0 !important;
    cursor: pointer;
    padding: 0.5em 0.5em !important;
}

.btn a {
    text-decoration: none;
    color: #fff;
    font-size: large;
}
.Card{
    width: 70px !important;
    height: 70px !important;
}
.college__img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}